/* Reset browser styles */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End reset browser styles  */

@font-face {
	font-family: openSans;
	src: url(/whyb/web/fonts/OpenSans-Regular.ttf);
	font-weight: normal;
}

@font-face {
    font-family: openSans;
    src: url(/whyb/web/fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}
/*
@font-face {
    font-family: openSans;
    src: url(/whyb/web/fonts/OpenSans-BoldItalic.ttf);
    font-weight: oblique bold;
}
*/
@font-face {
	font-family: radiohead;
	src: url(/whyb/web/fonts/rabiohead.ttf);
}

html{
	/*background-image: url(/whyb/web/img/fondo.jpg);*/
}

body {
	font-family: "openSans";
	font-size: 90%;
	position: relative;
	height: auto;
	margin: auto: ;
}

p {
	color: #3e444a;
}

h1 {
	font-family: "openSans";
	font-weight: bold;
	font-size: 150%;
}

th {
	font-family: "openSans";
	font-weight: bold;
	text-align: left;
	padding: 10px 30px 10px 0px;
}

tr {
	font-family: "openSans";
	text-align: left;
} 

a {
	font-family: radiohead;
	font-size: 170%;
}

a:link
{   
	text-decoration: none;
} 

a:hover {
	text-decoration: underline;   
}

.bigLink {
	font-size: 250%;
}

#required {
	color: red;
}

#cabecera {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	width: 1200px;
}

#logo {
	position: relative;
	float: left;
	height: 60px;
	padding: 0px 10px;
	width: 800px;
}

#registro {
	position: relative;
	float: right;
	line-height: 40px;
	/*word-spacing: 20px;*/
	padding: 10px 10px;
	height: 40px;
}

#cuerpo{
	position: relative;
	margin: auto;
	height: 300px;
	width: 1200px;
}

#divForm{
	position: relative;
	margin: 50px auto;
	height: 600px;
	width: 1200px;
}

#imgPortada{
	height: 500px;
	width: 100%;
}

#imgForm{
	position: relative;
	float: left;
	height: 525px;
	width: 150px;
	/*padding: 0px 25px;*/
	margin: 0px 25px;
	/*border: 1px solid black;*/
}

#textInicio {
	position: relative;
    text-align: center;
    line-height: 20px; 
	width: 900px;
	margin: 30px auto;
	/*margin-top: 30px;
	margin-bottom: 30px;*/
}

#cuerpoForm{
	position: relative;
	float: left;
	height: 600px;
	margin: 0px 50px;
}

#mapPage {
	position: relative;
	height: 600px;
	width: 1200px;
	margin: 50px auto;
	border: 1px solid black;
}

#placesPage {
	position: relative;
	height: 600px;
	width: 1200px;
	margin: 50px auto;
	border: 1px solid black;
}

#menu {
	position: relative;
	margin: 0px 25px ;
	height: 50px;
	width: 1150px;
	border: 1px solid black;
}

#filters {
	position: relative;
	float: left;
	margin: 25px;
	width: 150px;
	height: 500px;
	border: 1px solid black;
}

#map {
	position: relative;
	float: left;
	margin: 25px 0px;
	width: 795px;
	height: 500px;
}

#results {
	position: relative;
	float: left;
	margin: 25px 0px;
	width: 975px;
	height: 500px;
	border: 1px solid black;
}

#markers {
	position: relative;
	float: left;
	margin: 25px;
	width: 149px;
	height: 500px;
	border: 1px solid black;
}

#footer {
	position: relative;
	background-color: white;
	margin: 20px auto 0px auto;
	height: 40px;
	width: 100%;
	text-align: center;
}

#txtFooter {
	background-color: white;
	font-size: 80%;
	color: #919aa3;
}

#formularioBtn {
	background-image: none;
	background-color: white;
	border:0px;
	font-family: radiohead;
	font-size: 170%;
}

#formularioBtn:hover {
	text-decoration: underline;
}