/* Reset browser styles */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End reset browser styles  */

@font-face {
	font-family: openSans;
	src: url(/whyb/web/fonts/OpenSans-Regular.ttf);
	font-weight: normal;
}

@font-face {
    font-family: openSans;
    src: url(/whyb/web/fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}
/*
@font-face {
    font-family: openSans;
    src: url(/whyb/web/fonts/OpenSans-BoldItalic.ttf);
    font-weight: oblique bold;
}
*/
@font-face {
	font-family: radiohead;
	src: url(/whyb/web/fonts/rabiohead.ttf);
}

html{
	/*background-image: url(/whyb/web/img/fondo.jpg);*/
}

body {
	font-family: "openSans";
	font-size: 85%;
	position: relative;
	height: auto;
	margin: auto: ;
}

p {
	color: #3e444a;
}

b {
	font-family: "openSans";
	font-weight: bold;
}

h1 {
	font-family: "openSans";
	font-weight: bold;
	font-size: 150%;
}

h3 {
	font-family: "openSans";
	font-weight: bold;
	font-size: 100%;
}

th {
	font-family: "openSans";
	font-weight: bold;
	text-align: left;
	padding: 10px 30px 10px 0px;
}

tr {
	font-family: "openSans";
	text-align: left;
} 

a {
	font-family: radiohead;
	font-size: 140%;
}

a:link
{   
	text-decoration: none;
} 

a:hover {
	text-decoration: underline;   
}

.bigLink {
	font-size: 250%;
}

.required {
	color: red;
	/*font-weight: bold;*/
}

.enlace {
	font-family: radiohead;
	color: #34629b;
	text-decoration: none;
}

.enlace:hover {
	text-decoration: underline;
}

#cabecera {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	width: 1200px;
}

#logo {
	position: relative;
	float: left;
	height: 60px;
	padding: 0px 10px;
	width: 800px;
}

#registro {
	position: relative;
	float: right;
	line-height: 40px;
	/*word-spacing: 20px;*/
	padding: 10px 25px;
	height: 40px;
}

#cuerpo{
	position: relative;
	margin: auto;
	height: 300px;
	width: 1200px;
}

.divRegForm{
	position: relative;
	margin: 50px auto;
	height: 550px;
	width: 1200px;
}

#imgPortada{
	height: 500px;
	width: 100%;
}

.imgFormReg{
	position: relative;
	float: left;
	height: 525px;
	width: 150px;
	/*padding: 0px 25px;*/
	margin: 0px 25px;
	/*border: 1px solid black;*/
}

#divIniSesion{
	position: relative;
	float: left;
	height: 550px;
	margin: 0px 50px;
}

#textInicio {
	position: relative;
    text-align: center;
    line-height: 20px; 
	width: 900px;
	margin: 30px auto;
	/*margin-top: 30px;
	margin-bottom: 30px;*/
}

.cuerpoForm {
	position: relative;
	float: left;
	height: 550px;
	margin: 0px 50px;
}

#resultNewUser{
	position: relative;
	float: left;
	height: 600px;
	width: 800px;
	margin: 0px 50px;
	text-align: center;
}

#textNewUser {
	margin: 100px auto 50px auto;
}

#mapPage {
	position: relative;
	height: 600px;
	width: 1200px;
	margin: 0px auto;
	/*border: 1px solid black;*/
}

#myMapPage {
	position: relative;
	height: 600px;
	width: 1200px;
	margin: 0px auto;
}

#unescoPage {
	position: relative;
	height: 1000px;
	width: 1200px;
	margin: 0px auto;
	/*border: 1px solid black;*/
}

#placesPage {
	position: relative;
	height: 1000px;
	width: 1200px;
	margin: 0px auto;
	/*border: 1px solid black;*/
}

#sinRegistrarPage {
	position: relative;
	height: 450px;
	width: 1150px;
	margin: 0px auto;
	/*border: 1px solid black;*/
}

#mensajeSinRegistrar {
	position: relative;
	width: 400px;
	margin: 120px auto;
	/*border: 1px solid black;*/
	/*text-align: center;*/
}

#imgSinRegistrar {
	position: relative;
	float: left;
	top: 25px;
}

#menu {
	position: relative;
	margin: 20px auto;
	height: 155px;
	width: 1150px;
	/*border: 1px solid black;*/
}

#menuLinks {
	position: relative;
	margin: auto;
	height: 30px;
	width: 1148px;
	/*border: 1px solid black;*/
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.link {
	position: relative;
	float: left;
	display: inline;
	width: 285px;
	height: 25px;
	text-align: center; 
	/*border-right: 1px solid black;*/
	font-weight: bold;
	color: #34629b;
}

.link:hover {
	color: white;
	text-decoration: none;
	background-color: #34629b; 
}

.linkActive {
	color: white;
	background-color: #34629b; 
}

#linkUnescoa{
	border-bottom-left-radius: 10px;
}

#linkShowMyPlaces {
	width: 293px;
	border-bottom-right-radius: 10px;
}

#filters {
	position: relative;
	float: left;
	margin: 25px;
	width: 150px;
	height: 440px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.linkFilter {
	position: relative;
	float: left;
	height: 20px;
	width: 140px;
	color: white;
	background-color: #34629b;
}

.linkTitle {
	position: relative;
	float: left;
	height: 20px;
	width: 140px;
	color: white;
	margin-bottom: 10px;
	background-color: #0099ff;
}

.linkFilter:hover {
	text-decoration: none;
}

.linkPlaces {
	font-family: radiohead;
	font-size: 140%;
}

#map {
	position: relative;
	float: left;
	margin: 25px 0px;
	width: 975px;
	height: 500px;
}

#mapPlaces {
	position: relative;
	float: left;
	margin: 25px 0px;
	width: 975px;
	height: 500px;
}

#mapMyPlaces {
	position: relative;
	float: left;
	margin: 25px 0px;
	width: 804px;
	height: 500px;
}

#results {
	position: relative;
	float: left;
	margin: 15px 0px 0px -25px;
	width: 1010px;
	height: 940px;
	/*border: 1px solid black;*/
}

.pagedemo {
	position: relative;
	float: left;
	width: 1010px;
	height: 940px;
	/*border: 1px solid black;*/
}

.cargando {
	position: absolute;
	top: 270px;
	left: 370px;
	width: 1000px;
	height: 940px;
	opacity: 0.8;
	z-index: 10;
	background-color: white;
	/*border: 1px solid black;*/
}

.cargandoMap {
	position: absolute;
	top: 270px;
	left: 370px;
	width: 1000px;
	height: 540px;
	opacity: 0.8;
	z-index: 10;
	background-color: white;
	/*border: 1px solid black;*/
}

.cargandoImg {
	position: relative;
	float: left;
	margin: 350px 450px;
}

#paginacion {
	position: relative;
	margin: 0px auto;
	width: 330px;
	/*border: 1px solid black;*/
}

.placeresult {
	position: relative;
	float: left;
	margin: 10px 0px 0px 10px;
	padding: 10px;
	width: 300px;
	height: 200px;
	border: 1px solid black;
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;*/
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.titleresult {
	position: relative;
	float: left;
	margin-left: 10px;
	width: 210px;
	height: 80px;
}

.linkResult{
	font-family: "openSans";
	font-size: 100%;
}

.textresult{
	position: relative;
	float: left;
	margin: 10px 0px;
}

.moreresult {
	position: relative;
	float: left;
	margin: auto;
	width: 300px;
	text-align: center;
	margin-top: 10px;
}

.sangria {
	margin: 10px 15px;
}

#markers {
	position: relative;
	float: left;
	margin: 25px;
	width: 149px;
	height: 500px;
	border: 1px solid black;
}

#footer {
	position: relative;
	background-color: white;
	margin: 20px auto 0px auto;
	height: 40px;
	width: 100%;
	text-align: center;
}

#txtFooter {
	background-color: white;
	font-size: 80%;
	color: #919aa3;
}

#menuPage {
	position: relative;
	height: 650px;
	width: 1200px;
	margin: 0px auto;
	/*border: 1px solid black;*/
}

#menuFilters{
	position: relative;
	float: left;
	margin: 25px;
	width: 150px;
	height: 220px;
	/*border: 1px solid black;*/
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#userMenu {
	position: relative;
	margin: 20px auto;
	height: 125px;
	width: 1150px;
}

#menuResults {
	position: relative;
	float: left;
	margin: 35px 25px;
	height: 600px;
	width: 945px;
	border: 1px solid black;
}

.linkMenu{
	position: relative;
	float: left;
	height:25px;
	width: 170px;
	padding-left: 10px;
	margin-top: 10px;
	/*font-weight: bold;*/
	/*font-size: 100%;*/
	color: #34629b;
}

.linkMenu:hover{
	color: white;
	background-color: #34629b;
	text-decoration: none;
}

.filterSelected {
	color: white;
	background-color: #34629b;
}

.formularioBtn {
	background-image: none;
	background-color: white;
	border:0px;
	padding-left: 20px;
}

.formularioBtn:hover {
	text-decoration: underline;
}

.imgForm {
	position: relative;
	float: left;
	height: 20px;
	width: 20px;
	/*top:5px;*/
}

.error {
    border: solid 2px #FF0000;  
}

.correcto {
	border: solid 2px #26C35A;	
}
/* +++++++++++++++++++++++ START PAGINATE +++++++++++++++++++++++*/
.jPaginate{
    height:34px;
    position:relative;
    color:#a5a5a5;
    font-size:small;   
	width:100%;
}
.jPaginate a{
    line-height:15px;
    height:18px;
    cursor:pointer;
    padding:2px 5px;
    margin:2px;
    float:left;
}
.jPag-control-back{
	position:absolute;
	left:0px;
}
.jPag-control-front{
	position:absolute;
	top:0px;
}
.jPaginate span{
    cursor:pointer;
}
ul.jPag-pages{
    float:left;
    list-style-type:none;
    margin:0px 0px 0px 0px;
    padding:0px;
}
ul.jPag-pages li{
    display:inline;
    float:left;
    padding:0px;
    margin:0px;
}
ul.jPag-pages li a{
    float:left;
    padding:2px 5px;
}
span.jPag-current{
    cursor:default;
    font-weight:normal;
    line-height:15px;
    height:18px;
    padding:2px 5px;
    margin:2px;
    float:left;
}
ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-next,
span.jPag-sprevious,
span.jPag-snext,
ul.jPag-pages li span.jPag-previous-img,
ul.jPag-pages li span.jPag-next-img,
span.jPag-sprevious-img,
span.jPag-snext-img{
    height:22px;
    margin:2px;
    float:left;
    line-height:18px;
}

ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-previous-img{
    margin:2px 0px 2px 2px;
    font-size:12px;
    font-weight:bold;
        width:10px;

}
ul.jPag-pages li span.jPag-next,
ul.jPag-pages li span.jPag-next-img{
    margin:2px 2px 2px 0px;
    font-size:12px;
    font-weight:bold;
    width:10px;
}
span.jPag-sprevious,
span.jPag-sprevious-img{
    margin:2px 0px 2px 2px;
    font-size:18px;
    width:15px;
    text-align:right;
}
span.jPag-snext,
span.jPag-snext-img{
    margin:2px 2px 2px 0px;
    font-size:18px;
    width:15px;
     text-align:right;
}
ul.jPag-pages li span.jPag-previous-img{
    background:transparent url(../images/previous.png) no-repeat center right;
            }
ul.jPag-pages li span.jPag-next-img{
    background:transparent url(../images/next.png) no-repeat center left;
            }
span.jPag-sprevious-img{
    background:transparent url(../images/sprevious.png) no-repeat center right;
            }
span.jPag-snext-img{
    background:transparent url(../images/snext.png) no-repeat center left;
            }
/* +++++++++++++++++++++++ END PAGINATE +++++++++++++++++++++++*/